@model IEnumerable<MessageBoard.Data.Topic>
@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "home";
}

@section Scripts {
    <script src="~/js/points.js"></script>
}

<div data-ng-view=""></div>

@*This is the home page, nothing here yet.

Will have...

<h1>Summary</h1>
<b>Class:</b> Asian
<b>Total Points:</b> 200

<h3>Class Details</h3>
<b>Name:</b> Asian
<b>Abilities:</b> Bartering, Mathematics
<b>Spells:</b> Do asian thing

<h3>Activity History</h3>
Jason earnt 10 points winning contest A.
Jason lost 10 points because he is soft.*@