@model IEnumerable<MessageBoard.Data.Topic>
@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "home";
}

@section Scripts {

}

@*<div data-ng-view=""></div>*@

This is the home page, nothing here yet.

Will have...

Summary

Class: (class)
Total Points: (points)



Class:
Abilities (strong against, weak against)

History:
Jason earnt 10 points winning contest A.
Jason lost 10 points because he is soft.

Events?