@baseMessageColor: #888;

.message {
    background: lighten(@baseMessageColor, 20%);
    border: 1px solid @baseMessageColor;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    background: #fff;
    margin-left: 2px;
    margin-right: -20px;

    .title {
        font-size: 18px;
        font-weight: bold;
        text-shadow: 2px 2px 2px @baseMessageColor;
        margin-bottom: 10px;
    }

    .reply {
        border-top: 1px solid #888;
        margin-top: 5px;
        //margin-left: 30px;
        .created {
            font-size: 9px;
            margin-left: 10px;
            text-shadow: 2px 2px 2px;
        }
    }

    .green_thing {
        border: 1px solid darkgreen;
        background-color: greenyellow;
    }

    .red_thing {
        border: 1px solid darkred;
        background-color: red;
    }
}

@media all and (max-width: 768px) {
    .main {
        margin-left: 0;
    }
}

.green_thing {
    border: 1px solid darkgreen;
    border-radius: 5px 5px 5px 5px;
    background-color: greenyellow;
    padding: 5px;
    margin-bottom: 5px;
}

.red_thing {
    border: 1px solid darkred;
    border-radius: 5px 5px 5px 5px;
    background-color: red;
    padding: 5px;
    margin-bottom: 5px;
}

.activity_title {
    font-size: 48px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px @baseMessageColor;
    margin-bottom: 10px;
}

.main_title {
    font-size: 48px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px @baseMessageColor;
    margin-bottom: 10px;
    line-height: 48px;
}

.total_points {
    font-size: 60px;
    color: black;
    margin-top: 20px;
    line-height: 60px;
}

.amount {
    font-size: large;
    color: black;
}
