<div>
    <div class="message-header">
        <h1>Characters</h1>
      
        <div class="lead">Character Summary: {{ data.characters.length }} things have happened</div>
    </div>
    <div class="progress progress-striped active" data-ng-show="isBusy">
        <div class="bar" style="width: 100%;"></div>
    </div>
    <div class="title span10">
        <h3>Character Profile</h3>
    </div>
    <div class="characters">
        <div class="character row" data-ng-repeat="i in data.characters">
            <div class="contents span10">
                Jason is {{i.name}}.
            </div>
        </div>
    </div>
</div>