<form enctype="multipart/form-data" method="post" name="newImageForm" data-ng-submit="save()">

    <h4>Image Upload</h4>
    <hr />

    <div>
        <label for="title" class="col-md-2 control-label">Title</label>
        <div class="col-md-10">
            <input type="text" data-ng-model="newImage.title" name="title" />
        </div>
    </div>

    <div>
        <label for="description" class="col-md-2 control-label">Description</label>
        <div class="col-md-10">
            <textarea data-ng-model="newImage.description" name="description"></textarea>
        </div>
    </div>

    <div>
        <label for="attachment" class="col-md-2 control-label">Attachment</label>
        <div>
            <input type="file" name="attachment" data-ng-model="newImage.attachment" />
        </div>
    </div>

    <div>
        <input type="submit" class="btn" value="Save" data-ng-disabled="newImageForm.$invalid" />
        <a href="/" class="btn">Cancel</a>
    </div>

</form>