<div class="message-header">
    <h1>Chow's Bucks Summary</h1>
    <div>
        The stage is set: Jason has chosen a character, the weekend has begun. With many challenges before him, how will he fare?
    </div>
    <br />
    <div>
        <a href="#/newpoints">Add New Points</a>
    </div>
</div>

<div><br /></div>

<div ng-controller="characterController">
    <div class="lead"><h3>Character Summary</h3></div>
    <div class="selectcharacter row" data-ng-repeat="i in data.characters">
        <div class="contents span10">
            <label>
                <b>Name:</b> {{i.name}}
            </label>
        </div>
    </div>
</div>
<div ng-controller="characterClassController">
    <label>
        <b>Type:</b> {{data.chowsCharacterClassObject.name}}
    </label>
    <label>
        <b>Description:</b> {{data.chowsCharacterClassObject.description}}
    </label>

    <div class="selectcharacter row" data-ng-repeat="i in data.chowsCharacterClassObject.attributes">
    <label><b>Ability:</b> {{i.description}}</label>
    </div>
</div>

<div>
    <label>
        <b>Total Points:</b> {{ data.totalPoints }} {{ data.totalPoint }} {{ data.totalpoints }}
    </label>
</div>

<div><br /><br /></div>

<div class="progress progress-striped active" data-ng-show="isBusy">
    <div class="bar" style="width: 100%;"></div>
</div>

<div class="lead">
    <h3>Activity History ({{ data.points.length }} events)</h3>
</div>
<div class="replies">
    <div class="reply row" data-ng-repeat="i in data.points">
        <div class="contents span10">
            {{i.characterAwardedTo}} earnt {{i.amount}} points for "{{i.challenge}}" (awarded by {{ i.awardedBy }}).
        </div>
        <div class="date span2">
            {{ i.created | date:"medium"}}
        </div>
    </div>
</div>