<div class="message-header">
    <h1>Chow's Points</h1>
    <div>
        <a href="#/selectcharacter">Create your character</a>
    </div>
    <div>
        <a href="#/newpoints">Add New Points</a>
    </div>
</div>

<div ng-controller="characterController">
    <div class="lead">Character Summary</div>
    <div class="selectcharacter row" data-ng-repeat="i in data.characters">
        <div class="contents span10">
            <label>
                {{i.name}} (will show type in here)
            </label>
            <label>
                Total Points = (Add function in)
            </label>
        </div>
    </div>
</div>

<div class="lead">Points Summary: {{ data.points.length }} things have happened</div>

<div class="progress progress-striped active" data-ng-show="isBusy">
    <div class="bar" style="width: 100%;"></div>
</div>
<div class="title span10">
    <h3>Activity History</h3>
</div>
<div class="replies">
    <div class="reply row" data-ng-repeat="i in data.points">
        <div class="contents span10">
            {{i.classid}} earnt {{i.amount}} points for {{i.challenge}} (awarded by {{ i.awardedBy }}).
        </div>
        <div class="date span2">
            {{ i.created | date:"medium"}}
        </div>
    </div>
</div>