<div>
    <div class="message-header">
        <h1>Chow's Points</h1>
        <div>
            <a href="#/selectcharacter">Create your character</a>
        </div>
        <div>
            <a href="#/newpoints">Add New Points</a>
        </div>
        
        <div ng-controller="characterController" data-ng-repeat="i in data.characters">
            <div class="lead">Character Summary</div>
            <div>
                <div><h4>Name: </h4> {{ i.name }}</div>
                <h4>Skills: </h4>
                <div data-ng-repeat="j in i.characterattributes">
                    {{ i.description }}
                </div>
                <div></div>
        </div>

        <div class="lead">Points Summary: {{ data.points.length }} things have happened</div>
    </div>
    <div class="progress progress-striped active" data-ng-show="isBusy">
        <div class="bar" style="width: 100%;"></div>
    </div>
    <div class="title span10">
        <h3>Activity History</h3>
    </div>
    <div class="replies">
        <div class="reply row" data-ng-repeat="i in data.points">
            <div class="contents span10">
                {{i.classid}} earnt {{i.amount}} points for {{i.challenge}} (awarded by {{ i.awardedBy }}).
            </div>
            <div class="date span2">
                {{ i.created | date:"medium"}}
            </div>
        </div>
    </div>
</div>