<form name="newCharacterForm" novalidate="" data-ng-submit="save()">
    <fieldset>
        <div class="message-header">
            <h1>Chow, select your character class!</h1>
            <!--<div class="lead">Choose from one of the {{ data.characterclasses.length }} awesome classes.</div>-->
        </div>
        <div class="progress progress-striped active" data-ng-show="isBusy">
            <div class="bar" style="width: 100%;"></div>
        </div>
        <br />

        <div ng-controller="characterClassController">
            <div class="selectcharacter row" data-ng-repeat="i in data.characterclasses">
                <div class="message">
                    <div class="contents span10">
                        <label>
                            <b>Name:</b> {{i.name}} <input type="checkbox" ng-model="newCharacter.classid" ng-true-value="{{i.id}}">
                        </label>
                    </div>
                    <br />
                    <div class="contents span10">
                        <label>
                            <b>Description:</b> {{i.description}}
                        </label>
                    </div>
                    <br />
                    <div data-ng-repeat="x in i.attributes">
                        <label style="padding-left: 30px">
                            <b>Ability:</b> {{x.description}}
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <br />
        <div>
            <label for="name">Name</label>
            <textarea name="name" rows="1" cols="20" required="" data-ng-model="newCharacter.name" data-ng-minlength="3" />
            <span class="error" data-ng-show="newCharacterForm.name.$error.required">*</span>
            <span class="error" data-ng-show="newCharacterForm.name.$error.minlength">Minimum 3 Characters</span>
        </div>
        <div>
            <input type="submit" class="btn" value="Save" data-ng-disabled="newCharacterForm.$invalid" />
            <a href="/" class="btn">Cancel</a>
        </div>
    </fieldset>
</form>